# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [10]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
import pandas as pd
df = pd.read_csv(url)
print(df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

In [13]:
# create a new dataframe with clients whose total claim amount is below 1000 & response = 'Yes'
new_df = df[(df['Total Claim Amount'] < 1000) & (df['Response'] == 'Yes')]
print(new_df.head())
new_df.shape

    Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
3            3  XL78013      Oregon             22332.439460      Yes
8            8  FM55990  California              5989.773931      Yes
15          15  CW49887  California              4626.801093      Yes
19          19  NJ54277  California              3746.751625      Yes
27          27  MQ68407      Oregon              4376.363592      Yes

    Coverage Education Effective To Date EmploymentStatus Gender  ...  \
3   Extended   College           1/11/11         Employed      M  ...
8    Premium   College           1/19/11         Employed      M  ...
15     Basic    Master           1/16/11         Employed      F  ...
19  Extended   College           2/26/11         Employed      F  ...
27   Premium  Bachelor           2/28/11         Employed      F  ...

    Number of Open Complaints Number of Policies     Policy Type  \
3                         0.0                  2  Corporate Auto
8                         0.0                  1   Personal Auto
15                        0.0                  1    Special Auto
19                        1.0                  1   Personal Auto
27                        0.0                  1   Personal Auto

          Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
3   Corporate L3            Offer2         Branch          484.013411
8    Personal L1            Offer2         Branch          739.200000
15    Special L1            Offer2         Branch          547.200000
19   Personal L2            Offer2    Call Center           19.575683
27   Personal L3            Offer2          Agent           60.036683

    Vehicle Class Vehicle Size Vehicle Type
3   Four-Door Car      Medsize            A
8      Sports Car      Medsize          NaN
15            SUV      Medsize          NaN
19   Two-Door Car        Large            A
27  Four-Door Car      Medsize          NaN

[5 rows x 26 columns]

(1399, 26)

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [42]:
pivot1 = pd.pivot_table(
    new_df,
    values=["Monthly Premium Auto","Customer Lifetime Value","Total Claim Amount"],
    index=['Policy Type','Gender'],
    aggfunc="mean",
    fill_value=0,
).round(2)
pd.options.display.float_format = '{:,.2f}'.format
pivot1


# Insights:
# 1. Customers with 'Personal Auto' policy type tend to have higher monthly premiums compared to 'Corporate Auto' and 'Special Auto'.
# 2. Female customers generally have a higher average Customer Lifetime Value than male customers across both policy types.

                       Customer Lifetime Value  Monthly Premium Auto  \
Policy Type    Gender
Corporate Auto F                      7,334.77                 89.04
               M                      7,920.40                 88.55
Personal Auto  F                      7,966.93                 90.62
               M                      7,481.82                 87.43
Special Auto   F                      7,594.01                 86.71
               M                      8,348.23                 80.00

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F                   407.80
               M                   388.25
Personal Auto  F                   404.97
               M                   427.87
Special Auto   F                   426.66
               M                   390.33

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [52]:
df['State'].value_counts()
df['Customer'].value_counts()
pivot2= pd.pivot_table(     
    new_df, 
    values="Customer",
    index="State",
    aggfunc="count"
 ).round(2)
pivot2
pivot2[pivot2['Customer'] > 500]

Empty DataFrame
Columns: [Customer]
Index: []

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [44]:
pivot3= pd.pivot_table(     
    new_df, 
    values="Customer Lifetime Value",
    index=["Education", "Gender"],
    aggfunc=["median", "max", "min"]
    ).round(2)
pd.options.display.float_format = '{:,.2f}'.format
pivot3

                                             median                     max  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                     5,162.34               33,473.35
                     M                     5,548.03               24,127.50
College              F                     4,834.71               25,464.82
                     M                     5,989.77               22,332.44
Doctor               F                     4,673.46                6,265.34
                     M                     5,073.28               12,731.95
High School or Below F                     6,503.40               41,787.90
                     M                     6,366.23               12,298.69
Master               F                     4,626.80               16,301.97
                     M                     8,509.85               14,435.67

                                                min
                            Customer Lifetime Value
Education            Gender
Bachelor             F                     2,248.45
                     M                     2,300.69
College              F                     2,004.35
                     M                     2,393.92
Doctor               F                     2,395.57
                     M                     2,491.32
High School or Below F                     2,397.04
                     M                     2,227.07
Master               F                     2,574.02
                     M                     2,551.23

Insights:
 1. Customers with 'Doctorate' education level have the highest median Customer Lifetime Value, indicating that higher education may correlate with higher spending.
 2. Male customers with 'Doctorate' education have the highest maximum Customer Lifetime Value, suggesting that this demographic may include high-value customers.
 3. Customers with 'High School' education level have the lowest minimum Customer Lifetime Value, indicating a potential area for targeted marketing or customer retention strategies.
 4. Overall, there is a noticeable variation in Customer Lifetime Value across different education levels and genders

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [45]:
print(df.columns)
#extract the month from the 'Effective To Date' column and create a new column 'Month'
new_df['Effective To Date'] = pd.to_datetime(new_df['Effective To Date'])   
new_df['Month'] = new_df['Effective To Date'].dt.month
print(new_df[['Effective To Date', 'Month']].head())

pivot5 = pd.pivot_table(
    new_df,
    values="Policy",
    index="State",
    columns="Month",
    aggfunc="count"
).round(2)
pivot5

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type', 'Month'],
      dtype='object')
   Effective To Date  Month
3         2011-01-11      1
8         2011-01-19      1
15        2011-01-16      1
19        2011-02-26      2
27        2011-02-28      2

C:\Users\Mónica\AppData\Local\Temp\ipykernel_13404\3353072659.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_df['Effective To Date'] = pd.to_datetime(new_df['Effective To Date'])
C:\Users\Mónica\AppData\Local\Temp\ipykernel_13404\3353072659.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Effective To Date'] = pd.to_datetime(new_df['Effective To Date'])
C:\Users\Mónica\AppData\Local\Temp\ipykernel_13404\3353072659.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Month'] = new_df['Effective To Date'].dt.month

Month         1    2
State
Arizona     148  125
California  288  192
Nevada       77   60
Oregon      226  166
Washington   70   47

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [47]:
#group by 'State' and 'Month' to count the number of policies sold in each state per month and sort in descending order
grouped = new_df.groupby(['State', 'Month']).size().reset_index(name='Policy Count')
grouped_sorted = grouped.sort_values(by='Policy Count', ascending=False)    
print(grouped_sorted)

#new dataframe with only customers from 'California' ,'Oregon' and 'Arizona' containgn the number of policies sold per month for each state
states_df = grouped_sorted[grouped_sorted['State'].isin(['California', 'Oregon', 'Arizona'])]
print(states_df)

        State  Month  Policy Count
2  California      1           288
6      Oregon      1           226
3  California      2           192
7      Oregon      2           166
0     Arizona      1           148
1     Arizona      2           125
4      Nevada      1            77
8  Washington      1            70
5      Nevada      2            60
9  Washington      2            47
        State  Month  Policy Count
2  California      1           288
6      Oregon      1           226
3  California      2           192
7      Oregon      2           166
0     Arizona      1           148
1     Arizona      2           125

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [53]:
# use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by sales channel.
melted = pd.melt(
    new_df,
    id_vars=['Sales Channel', 'Response'],
    value_vars=['Customer'],
    var_name='Metric',
    value_name='Count'
)
pivot6 = pd.pivot_table(
    melted[melted['Response'] == 'Yes'],
    values='Count',
    index='Sales Channel',
    aggfunc='count'
).round(2)

pivot6

               Count
Sales Channel
Agent            702
Branch           312
Call Center      221
Web              164